


a {
  color: #1772d0;
  text-decoration: none;
}

a:focus,
a:hover {
  color: #f09228;
  text-decoration: none;
}
html,
body{
  width:100%;
  overflow-x:hidden;
}
body,
td,
th,
tr,
p,
a {
  /* font-family:'Lora', serif; */
  
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
  font-size: 15px;
  line-height: 1.5;

}

strong {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
  font-size: 15px;
  
}

bluecolorfont{
  color: #1772d0;
  text-decoration: none;

}
blackcolorfont{
  color: #000000;
  text-decoration: none;

}

orangecolorfont{
  color: #FFAC1C;
  font-weight: 600;
}

heading {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
  font-size: 22px;
  font-weight: 400;
  /* color: darkblue; */
  color : #FFAC1C;
  border-bottom: 1px solid black;
  width: 100%;
  display: block;

}
.underline{
  border-bottom: 1px solid black;
  width: 100%;
  display: block;
}
papertitle {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
  font-size: 15px;
  font-weight: 700;
  color:#1772d0;
}

name {
  font-family:-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",sans-serif;
  font-size: 42px;
  font-weight: 300;
}

.one {
  width: 160px;
  height: 160px;
  position: relative;
}

.two {
  width: 160px;
  height: 160px;
  position: absolute;
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}

.fade {
  transition: opacity .2s ease-in-out;
  -moz-transition: opacity .2s ease-in-out;
  -webkit-transition: opacity .2s ease-in-out;
}
.imagenoclick{
  pointer-events: none; 
  cursor: default;
}
span.highlight {
  background-color: #ffffd0;
}
p{
  text-align: justify;
  text-justify: inter-word;
}

/* New elements */
ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

.progressBar {
	position: fixed;
	top: 0;
	left: 0;
	height: 8px;
	background: linear-gradient(to right,#f2994a, #f2c94c);
	width: 0%;
	z-index: 100;
	transition: width 0.2s ease-out;
}

::-webkit-scrollbar {
	width: 5px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	border-radius: 15px;
	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
	background: #001473;
}

